#map-wrapper {
    width: 960px;
    margin: 0 auto;
}

body {
  background: #fcfcfa;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #d5e9f6;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #1e7b1e;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
