#map-wrapper {
    width: 960px;
    margin: 0 auto;
}

body {
  /*background: #fcfcfa;*/
  background: #2CD;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #d5e9f6;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #131310;
  opacity: 0.25;
}

.country {
  fill: #131310;
  opacity: 0.25;
}

.country:hover{
  opacity: 0.375;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
